In [1]:
#pip install plotly

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pymongo

# Import API key
#from api_keys import g_key
#from api_keys import aqi_key

In [3]:
YR2015 = pd.read_csv('2015.csv')
YR2016 = pd.read_csv('2016.csv')
YR2017 = pd.read_csv('2017.csv')
YR2018 = pd.read_csv('2018.csv')
YR2019 = pd.read_csv('2019.csv')

In [4]:
YR2015.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [5]:
YR2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1, inplace=True)
YR2015

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [6]:
YR2016.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463

In [7]:
YR2016.drop(['Region', 'Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
YR2016

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [8]:
YR2017.head(2)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707

In [9]:
YR2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)
YR2017

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [10]:
YR2018.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340

In [11]:
YR2019.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410

In [12]:
YR2015.rename(columns = {'Happiness Rank':'Happiness_Rank_2015'}, inplace = True)
YR2015.rename(columns = {'Happiness Score':'Happiness_Score_2015'}, inplace = True)
YR2015.rename(columns = {'Economy (GDP per Capita)':'GDP_2015'}, inplace = True)
YR2015.rename(columns = {'Family':'Social_Support_2015'}, inplace = True)
YR2015.rename(columns = {'Health (Life Expectancy)':'Life_Expectancy_2015'}, inplace = True)
YR2015.rename(columns = {'Freedom':'Freedom_2015'}, inplace = True)
YR2015.rename(columns = {'Trust (Government Corruption)':'Government_Corruption_2015'}, inplace = True)
YR2015.rename(columns = {'Generosity':'Generosity_2015'}, inplace = True)
#YR2015['Happiness Bar_2015'] = ' '
YR2015

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [13]:
#creating an if statement that values the happiness score as happy, ok, not happy.

conditions = [
    (YR2015['Happiness_Score_2015'] > 6),
    (YR2015['Happiness_Score_2015'] <= 6) & (YR2015['Happiness_Score_2015'] >0),
    (YR2015['Happiness_Score_2015'] < 4)]
choices = ['1','0','-1']
YR2015['Happiness_Bar_2015'] = np.select(conditions, choices, default='null')
YR2015

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015,Happiness_Bar_2015
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,1
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,1
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,1
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,0
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,0
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,0

In [14]:
YR2016.rename(columns = {'Happiness Rank':'Happiness_Rank_2016'}, inplace = True)
YR2016.rename(columns = {'Happiness Score':'Happiness_Score_2016'}, inplace = True)
YR2016.rename(columns = {'Economy (GDP per Capita)':'GDP_2016'}, inplace = True)
YR2016.rename(columns = {'Family':'Social_Support_2016'}, inplace = True)
YR2016.rename(columns = {'Health (Life Expectancy)':'Life_Expectancy_2016'}, inplace = True)
YR2016.rename(columns = {'Freedom':'Freedom_2016'}, inplace = True)
YR2016.rename(columns = {'Trust (Government Corruption)':'Government_Corruption_2016'}, inplace = True)
YR2016.rename(columns = {'Generosity':'Generosity_2016'}, inplace = True)
#YR2016['Happiness Bar_2016'] = ' ' 
YR2016

,Country,Happiness_Rank_2016,Happiness_Score_2016,GDP_2016,Social_Support_2016,Life_Expectancy_2016,Freedom_2016,Government_Corruption_2016,Generosity_2016
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [15]:
conditions = [
    (YR2016['Happiness_Score_2016'] > 6),
    (YR2016['Happiness_Score_2016'] <= 6) & (YR2016['Happiness_Score_2016'] >= 4),
    (YR2016['Happiness_Score_2016'] < 4)]
choices = ['1','0','-1']
YR2016['Happiness_Bar_2016'] = np.select(conditions, choices, default='null')
YR2016

,Country,Happiness_Rank_2016,Happiness_Score_2016,GDP_2016,Social_Support_2016,Life_Expectancy_2016,Freedom_2016,Government_Corruption_2016,Generosity_2016,Happiness_Bar_2016
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,1
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,1
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,1
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,1
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,1
...,...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,-1
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,-1
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,-1
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,-1
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,-1

In [16]:
YR2017.rename(columns = {'Happiness.Rank':'Happiness_Rank_2017'}, inplace = True)
YR2017.rename(columns = {'Happiness.Score':'Happiness_Score_2017'}, inplace = True)
YR2017.rename(columns = {'Economy..GDP.per.Capita.':'GDP_2017'}, inplace = True)
YR2017.rename(columns = {'Family':'Social_Support_2017'}, inplace = True)
YR2017.rename(columns = {'Health..Life.Expectancy.':'Life_Expectancy_2017'}, inplace = True)
YR2017.rename(columns = {'Freedom':'Freedom_2017'}, inplace = True)
YR2017.rename(columns = {'Trust..Government.Corruption.':'Government_Corruption_2017'}, inplace = True)
YR2017.rename(columns = {'Generosity':'Generosity_2017'}, inplace = True)
#YR2017['Happiness Bar_2017'] = ' '
YR2017

,Country,Happiness_Rank_2017,Happiness_Score_2017,GDP_2017,Social_Support_2017,Life_Expectancy_2017,Freedom_2017,Generosity_2017,Government_Corruption_2017
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [17]:
conditions = [
    (YR2017['Happiness_Score_2017'] > 6),
    (YR2017['Happiness_Score_2017'] <= 6) & (YR2017['Happiness_Score_2017'] >= 4),
    (YR2017['Happiness_Score_2017'] < 4)]
choices = ['1','0','-1']
YR2017['Happiness_Bar_2017'] = np.select(conditions, choices, default='null')
YR2017

,Country,Happiness_Rank_2017,Happiness_Score_2017,GDP_2017,Social_Support_2017,Life_Expectancy_2017,Freedom_2017,Generosity_2017,Government_Corruption_2017,Happiness_Bar_2017
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,1
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,1
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,1
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,1
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,1
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,-1
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,-1
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,-1
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,-1
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,-1

In [18]:
YR2018.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2018.rename(columns = {'Overall rank':'Happiness_Rank_2018'}, inplace = True)
YR2018.rename(columns = {'Score':'Happiness_Score_2018'}, inplace = True)
YR2018.rename(columns = {'GDP per capita':'GDP_2018'}, inplace = True)
YR2018.rename(columns = {'Social support':'Social_Support_2018'}, inplace = True)
YR2018.rename(columns = {'Healthy life expectancy':'Life_Expectancy_2018'}, inplace = True)
YR2018.rename(columns = {'Freedom to make life choices':'Freedom_2018'}, inplace = True)
YR2018.rename(columns = {'Perceptions of corruption':'Government_Corruption_2018'}, inplace = True)
YR2018.rename(columns = {'Generosity':'Generosity_2018'}, inplace = True)
#YR2018['Happiness Bar_2018'] = ' ' 
YR2018

,Happiness_Rank_2018,Country,Happiness_Score_2018,GDP_2018,Social_Support_2018,Life_Expectancy_2018,Freedom_2018,Generosity_2018,Government_Corruption_2018
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [19]:
conditions = [
    (YR2018['Happiness_Score_2018'] > 6),
    (YR2018['Happiness_Score_2018'] <= 6) & (YR2018['Happiness_Score_2018'] >= 4),
    (YR2018['Happiness_Score_2018'] < 4)]
choices = ['1','0','-1']
YR2018['Happiness_Bar_2018'] = np.select(conditions, choices, default='null')
YR2018

,Happiness_Rank_2018,Country,Happiness_Score_2018,GDP_2018,Social_Support_2018,Life_Expectancy_2018,Freedom_2018,Generosity_2018,Government_Corruption_2018,Happiness_Bar_2018
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,1
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,1
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,1
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,1
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,1
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,-1
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,-1
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,-1
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,-1
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,-1

In [20]:
YR2019.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2019.rename(columns = {'Overall rank':'Happiness_Rank_2019'}, inplace = True)
YR2019.rename(columns = {'Score':'Happiness_Score_2019'}, inplace = True)
YR2019.rename(columns = {'GDP per capita':'GDP_2019'}, inplace = True)
YR2019.rename(columns = {'Social support':'Social_Support_2019'}, inplace = True)
YR2019.rename(columns = {'Healthy life expectancy':'Life_Expectancy_2019'}, inplace = True)
YR2019.rename(columns = {'Freedom to make life choices':'Freedom_2019'}, inplace = True)
YR2019.rename(columns = {'Perceptions of corruption':'Government_Corruption_2019'}, inplace = True)
YR2019.rename(columns = {'Generosity':'Generosity_2019'}, inplace = True)
#YR2019['Happiness_Bar_2019'] = ' ' 
YR2019

,Happiness_Rank_2019,Country,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [21]:
conditions = [
    (YR2019['Happiness_Score_2019'] > 6),
    (YR2019['Happiness_Score_2019'] <= 6) & (YR2019['Happiness_Score_2019'] >= 4),
    (YR2019['Happiness_Score_2019'] < 4)]
choices = ['1','0','-1']
YR2019['Happiness_Bar_2019'] = np.select(conditions, choices, default='null')
YR2019

,Happiness_Rank_2019,Country,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019,Happiness_Bar_2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,1
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,1
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,1
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,1
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,1
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,-1
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,-1
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,-1
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,-1
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,-1

In [22]:
#add a 10th column for the year, and then merge data

In [23]:
#frames=[YR2015, YR2016, YR2017, YR2018, YR2019]
# YR2015_2019 = pd.concat(frames, sort=True)
# YR2015_2019.replace(np.nan, 0, inplace=True)
# YR2015_2019



YR2015_2016 = pd.merge(YR2015,YR2016, on='Country')
YR2015_2017 = pd.merge(YR2015_2016, YR2017, on='Country')
YR2015_2018 = pd.merge(YR2015_2017, YR2018, on='Country')
YR2015_2019 = pd.merge(YR2015_2018, YR2019, on='Country')
YR2015_2019

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015,Happiness_Bar_2015,...,Happiness_Bar_2018,Happiness_Rank_2019,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019,Happiness_Bar_2019
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,1,...,1,6,7.480,1.452,1.526,1.052,0.572,0.263,0.343,1
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,1,...,1,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118,1
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1,...,1,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410,1
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,1,...,1,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341,1
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,1,...,1,9,7.278,1.365,1.505,1.039,0.584,0.285,0.308,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0,...,-1,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411,-1
137,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,0,...,0,102,4.883,0.393,0.437,0.397,0.349,0.175,0.082,0
138,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0,...,-1,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141,-1
139,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,0,...,-1,145,3.775,0.046,0.447,0.380,0.220,0.176,0.180,-1
140,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,0,...,-1,139,4.085,0.275,0.572,0.410,0.293,0.177,0.085,0

In [27]:
YR2015_2019.to_csv('YR2015_2019FinalML4.csv')